<!-- <div class="container slider-margin">
  <div *ngFor="let product of products" class="card mx-2 mt-3 d-sm-inline-flex w-200 h-150"  style="width: 18rem;">
    <img src="..."width=20s0 height=150 class="card-img-top"[src]="product.img" alt="{{product.name}}">
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text"></p>
      <a href="#"  routerLink="/product/{{product.id}}" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div> -->
<div>
  <div class="popular-items section-padding30">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-10">
          <div class="section-tittle mb-70 text-center">
            <h2>SẢN PHẨM</h2>
            <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
              ipsum suspendisse ultrices gravida.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div *ngFor="let product of products" class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <div class="single-popular-items mb-50 text-center">
            <div class="popular-img"><img src="" [src]="product.img" style="width: 200px; height: 300px">
              <div class="img-cap"><span>Add to cart</span></div>
              <div class="favorit-items"><span class="flaticon-heart"></span></div>
            </div>
            <div class="popular-caption">
              <h3><a href="#" routerLink="/product/{{product.id}}" >{{product.name}}</a></h3><span>$ {{product.price}}</span>
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>
</div>